
/*
*  说明：文中所有 rem : px = 1: 75
*/
html,
body {
  height: 100%;
}
body {
  color: #383838;
  user-select: none;
  font-size: 14px;
  background: #f3f4f5;
}
/*轮播图样式*/
.swiper-pagination-bullet-active {
  background: #de3d96 !important;
}
/*通用类*/
.article {
  line-height: 0.533333rem;
}
.m-main-c {
  color: #de3d96;
}
.m-money-c {
  color: #ff4910;
}
.m-white {
  color: #fff;
}
.m-bg-white {
  background: #fff;
}
.m-info-c {
  color: #666;
}
.hidden {
  display: none;
}
/*黑色*/
.m-strong {
  font-weight: bold;
}
/* 1px边框 */
.m-bd-top,
.m-bd-bottom,
.m-header {
  position: relative;
}
.m-bd-top::after,
.m-bd-bottom::after,
.m-header::after {
  content: '';
  height: 1px;
  width: 100%;
  background: #dfdfdf;
  position: absolute;
  left: 0;
}
.m-bd-top.m-bd-top::after,
.m-bd-bottom.m-bd-top::after,
.m-header.m-bd-top::after {
  top: 0;
}
.m-bd-top.m-bd-bottom::after,
.m-bd-bottom.m-bd-bottom::after,
.m-header.m-bd-bottom::after,
.m-bd-top.m-header::after,
.m-bd-bottom.m-header::after,
.m-header.m-header::after {
  bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .m-bd-top::after,
  .m-bd-bottom::after,
  .m-header::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3) {
  .m-bd-top::after,
  .m-bd-bottom::after,
  .m-header::after {
    -webkit-transform: scaleY(0.333333);
    transform: scaleY(0.333333);
  }
}
/*溢出省略*/
.ell {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
/*padding*/
.m-p15 {
  padding: 0.4rem;
}
.m-p10 {
  padding: 0.266667rem;
}
.m-main {
  padding-top: 1.173333rem;
  min-width: 320px;
}
.m-content {
  height: 100%;
}
/*字体图标*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/*小标题*/
.m-sm-title {
  height: 0.8rem;
  line-height: 0.8rem;
}
/*卡片*/
.m-card {
  background: #fff;
  margin: 0 auto;
  margin-top: 0.266667rem;
}
/*文本流*/
.m-text-flow {
  display: flex;
  flex-wrap: wrap;
}
.m-text-flow li {
  border: 1px solid #ccc;
  padding: 0.213333rem 0.32rem;
  margin: 0 0.32rem 0.32rem 0;
  border-radius: 0.08rem;
}
.m-text-flow li.active {
  color: #de3d96;
  border-color: #de3d96;
}
/*遮罩*/
.m-mark {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
/*按钮*/
.m-btn {
  color: #383838;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 0.08rem;
  width: 2.346667rem;
  cursor: pointer;
  height: 0.96rem;
  vertical-align: middle;
  /* 确认按钮 */
  /*删除按钮*/
  /*无效按钮*/
  /*居中按钮*/
}
.m-btn.m-submit-btn {
  background: #de3d96;
  border-color: #de3d96;
  color: #fff;
}
.m-btn.m-remove-btn {
  background: #fff;
  color: #F56C6C;
  border: 1px solid #F56C6C;
}
.m-btn.m-disable {
  background: #ccc;
  color: #fff;
  border-color: #ccc;
}
.m-btn.m-center-btn {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.m-btn a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0.96rem;
  color: inherit;
}
/*组件*/
/*列表（左右布局）*/
.m-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  line-height: 0.8rem;
}
.m-list.list-icon {
  position: relative;
}
.m-list.list-icon .m-l-right {
  margin-right: 0.8rem;
}
.m-list.list-icon::before {
  content: '';
  position: absolute;
  right: 0.266667rem;
  width: 0.266667rem;
  height: 0.266667rem;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  top: 50%;
  transform-origin: center top;
  transform: rotate(45deg) translateY(-50%);
}
/*加载loading*/
.m-loading {
  width: 100%;
  height: 100%;
  background: #fefefe;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.m-loading .loading-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.m-loading .loading-label {
  position: relative;
  top: 50px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #383838;
  text-align: center;
}
.m-loading.loading {
  display: block;
}
/*alert*/
.m-alert,
.m-confirm-box {
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: content-box;
  width: 60%;
  max-width: 320px;
  min-height: 1.066667rem;
  line-height: 1.066667rem;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  border-radius: 0.133333rem;
  user-select: none;
}
.m-alert {
  bottom: 10%;
}
.m-alert-info,
.m-alert-error,
.m-alert-success {
  top: 10%;
  bottom: auto;
  background: rgba(255, 255, 255, 0.7);
  color: #383838;
}
.m-alert-error {
  color: #67C23A;
}
.m-alert-error {
  color: #F56C6C;
}
/* confirm */
.m-confirm-box {
  background: #fff;
  color: #383838;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
.m-confirm-box .confirm-content {
  min-height: 1.333333rem;
  line-height: 1.333333rem;
}
.m-confirm-box .confirm-bottom {
  display: flex;
  height: 1.2rem;
  border-top: 1px solid #ccc;
  justify-content: space-around;
}
.m-confirm-box .confirm-bottom .item {
  border-right: 1px solid #ccc;
  text-align: center;
  flex: 1;
}
.m-confirm-box .confirm-bottom .item:last-child {
  border-right: 0;
}
.m-confirm-box .confirm-bottom .item.close {
  color: #666;
}
.m-confirm-box .confirm-bottom .item.sure {
  color: #de3d96;
}
/* 顶部*/
.m-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1.173333rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.m-header > div {
  text-align: center;
  line-height: 1.173333rem;
}
.m-header .m-h-left,
.m-header .m-h-right {
  min-width: 1.2rem;
}
.m-header .m-h-left span,
.m-header .m-h-right span,
.m-header .m-h-left a,
.m-header .m-h-right a,
.m-header .m-h-left i,
.m-header .m-h-right i {
  display: block;
  height: 100%;
  width: 100%;
}
.m-header .m-h-center {
  flex: 1;
  text-align: left;
}
/*搜索条*/
.m-search-bar {
  height: 1.173333rem;
  padding: 0.133333rem;
  width: 100%;
}
.m-search-bar .search-inner {
  width: 100%;
  background: #f2f2f2;
  border-radius: 0.08rem;
  line-height: 0.906667rem;
  color: #666;
  text-align: left;
  padding-left: 0.266667rem;
  position: relative;
}
.m-search-bar .search-inner .search-ipt {
  display: block;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 0.8rem;
}
/*行列*/
.m-row::after,
.m-row::before {
  content: '';
  display: block;
  clear: both;
}
.m-row .m-col-3 {
  float: left;
  width: 33.333333%;
}
.m-row .m-col-2 {
  float: left;
  width: 50%;
}
.tools-box {
  text-align: center;
}
.tools-box::after,
.tools-box::before {
  content: '';
  display: block;
  clear: both;
}
.tools-box > a {
  display: block;
  width: 25%;
  float: left;
}
.tools-box .tool-icon {
  font-size: 20px;
}
.tools-box .tool-label {
  margin-top: 0.266667rem;
}
/* 底部无更多信息*/
.no-more {
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  color: #999;
}
/* 返回顶部*/
.go-top {
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px #ccc;
  position: fixed;
  right: 0.373333rem;
  bottom: 1.92rem;
  display: table;
}
.go-top .go-top-inner {
  display: table-cell;
  vertical-align: middle;
}
.go-top .go-top-inner p {
  height: 0.4rem;
  line-height: 0.4rem;
  color: #666;
}
.go-top.hide {
  display: none;
}
/*数量选择器*/
.quantity-set {
  border: 1px solid #dfdfdf;
  border-radius: 0.053333rem;
}
.quantity-set span {
  border-right: 1px solid #dfdfdf;
  text-align: center;
  display: inline-block;
  width: 0.666667rem;
  height: 0.666667rem;
  line-height: 0.666667rem;
}
.quantity-set span.iconfont {
  font-size: 12px;
}
.quantity-set span:last-child {
  border-right: 0;
}
/* 复制*/
.m-copy {
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 0.08rem 0.133333rem;
  border-radius: 0.08rem;
}
/* 复选按钮*/
.m-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}
.m-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.m-checkbox .check {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  font-size: 14px !important;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}
.m-checkbox input[type="checkbox"]:checked + .check {
  color: #fff;
  background: #de3d96;
  border-color: #de3d96;
}
/*单选按钮*/
.m-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
}
.m-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-radio .check {
  border: 1px solid #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.m-radio input[type="radio"]:checked + .check {
  border-color: #43a047;
}
.m-radio input[type="radio"]:checked + .check::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #43a047;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
/* 图片加载背景 */
.m-ajaxbg {
  background-image: url(../common/img/ajax_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* 商品列表(待付款、待收货、全部订单) */
.m-shop-item .shop-top {
  border-bottom: 1px solid #dfdfdf;
}
.m-shop-item .shop-top .m-l-right {
  color: #ff4500;
}
.m-shop-item .shop-info {
  display: flex;
}
.m-shop-item .shop-info .info-left {
  width: 2.133333rem;
  height: 2.133333rem;
}
.m-shop-item .shop-info .info-left img {
  width: 100%;
  height: 100%;
}
.m-shop-item .shop-info .info-right {
  width: 2.133333rem;
  text-align: right;
}
.m-shop-item .shop-info .info-right .unit-price {
  font-size: 14px;
  margin-bottom: 0.266667rem;
}
.m-shop-item .shop-info .info-right .amount {
  color: #666;
}
.m-shop-item .shop-info .info-center {
  flex: 1;
  padding-left: 0.266667rem;
}
.m-shop-item .shop-info .info-center .shop-title {
  -webkit-line-clamp: 2;
  margin-bottom: 0.266667rem;
  line-height: 0.533333rem;
  color: #000;
}
.m-shop-item .shop-info .info-center .shop-type {
  color: #666;
  line-height: 0.426667rem;
  -webkit-line-clamp: 2;
}
.m-shop-item .price-statistics {
  text-align: right;
  line-height: 30px;
}
.m-shop-item .price-statistics .money {
  font-size: 14px;
}
.m-shop-item .shop-bottom .btn-group {
  float: right;
}
.m-shop-item .shop-bottom .btn-group button {
  margin-left: 0.266667rem;
}
/*商品列表 （购物车、收藏夹、浏览历史）*/
.m-shop-h-item {
  background: #fff;
  display: flex;
  border-bottom: 1px dashed #ccc;
}
.m-shop-h-item:first-child {
  margin-top: 0.266667rem;
}
.m-shop-h-item:last-child {
  border-bottom: 0;
}
.m-shop-h-item .left-select {
  min-width: 1.12rem;
  max-width: 1.12rem;
  height: auto;
  text-align: center;
  position: relative;
}
.m-shop-h-item .left-select .left-select-ipt {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}
.m-shop-h-item .left-img {
  max-width: 3.2rem;
  min-width: 3.2rem;
  height: 3.2rem;
  padding: 0.133333rem;
  padding-left: 0;
}
.m-shop-h-item .left-img img {
  width: 100%;
  border-radius: 0.08rem;
}
.m-shop-h-item .right-info {
  width: 100%;
  padding: 0.133333rem;
  position: relative;
}
.m-shop-h-item .right-info .shop-title,
.m-shop-h-item .right-info .shop-type {
  line-height: 0.533333rem;
  height: 1.013333rem;
  -webkit-line-clamp: 2;
  margin-bottom: 0.133333rem;
}
.m-shop-h-item .right-info .shop-type {
  font-size: 12px;
  color: #666;
  line-height: 0.533333rem;
}
.m-shop-h-item .right-info .set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.m-shop-h-item .right-info .set .item-money {
  color: #ff4910;
  font-size: 14px;
}
.m-shop-h-item .right-info .set .quantity-set {
  margin-right: 0.266667rem;
}
/*选择性操作*/
.m-check-bottom {
  padding: 0 0.266667rem;
  height: 1.333333rem;
  line-height: 1.333333rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.m-check-bottom .select-all {
  float: left;
  margin-left: 0.333333rem;
}
.m-check-bottom .right {
  float: right;
}
.m-check-bottom .add-btn {
  display: block;
  width: 70%;
  margin: 0 auto;
}
/*收货信息*/
.m-receipt-info {
  background: #656c89;
  color: #fff !important;
  padding-right: 0.8rem;
  position: relative;
}
.m-receipt-info .receipt-man {
  font-size: 14px;
  margin-bottom: 0.266667rem;
}
.m-receipt-info .receipt-man .user-name {
  margin-right: 0.533333rem;
}
.m-receipt-info .receipt-address {
  -webkit-line-clamp: 2;
}
.m-receipt-info .receipt-time {
  margin-top: 0.133333rem;
}
.m-receipt-info .jt-right {
  position: absolute;
  right: 0.16rem;
  color: #ccc;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
/*用户评价*/
.m-comment-item .user-name,
.m-comment-item .comment-time,
.m-comment-item .parame {
  line-height: 0.533333rem;
  color: #666;
}
.m-comment-item .comment-text {
  text-indent: 2em;
}
.m-comment-item .comment-img-box {
  margin: 10px 0;
}
.m-comment-item .comment-img-box .comment-img {
  width: 33.3333%;
  height: 33vw;
  float: left;
  padding: 0.08rem;
}
.m-comment-item .comment-img-box .comment-img img {
  border-radius: 0.08rem;
  width: 100%;
  height: 100%;
}
/* 商城导航 */
.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.333333rem;
  background: #fff;
  display: flex;
  align-items: center;
}
.main-nav .nav-item {
  flex: 1;
  text-align: center;
}
.main-nav .nav-item.active {
  color: #de3d96;
}
.main-nav .nav-item .nav-icon {
  font-size: 14px;
}
.main-nav .nav-item .nav-label {
  margin-top: 0.133333rem;
}
/*信息操作body（登录，注册，修改密码）*/
.login-body,
.register-body,
.changePsword-body {
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}
.login-body.login-body,
.register-body.login-body,
.changePsword-body.login-body {
  background-image: url(../test_data/img/login_bg2.jpg);
}
.login-body.register-body,
.register-body.register-body,
.changePsword-body.register-body {
  background-image: url(../test_data/img/login_bg3.jpg);
}
.login-body.changePsword-body,
.register-body.changePsword-body,
.changePsword-body.changePsword-body {
  background-image: url(../test_data/img/login_bg4.jpg);
}
/*登录,注册，修改密码*/
.login-main,
.register-main,
.changePsword-main {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.login-main .m-header,
.register-main .m-header,
.changePsword-main .m-header {
  background: transparent;
  color: #fff;
  transition: opacity 0.3s;
}
.login-main .m-header .m-h-left i,
.register-main .m-header .m-h-left i,
.changePsword-main .m-header .m-h-left i {
  color: #fff;
}
.login-main .m-header::after,
.register-main .m-header::after,
.changePsword-main .m-header::after {
  background: transparent;
}
/*状态(订单状态、退款状态等..)*/
.m-state-box .state-info {
  padding: 0.533333rem 0.8rem;
}
.m-state-box .state-info .info-title {
  font-size: 16px;
  height: 35px;
  line-height: 35px;
}
.m-state-box .state-info .info-details {
  height: 30px;
  line-height: 30px;
}
.m-comment-box .comment-area {
  width: 100%;
  min-height: 3.2rem;
  border: 0;
  margin-bottom: 0.266667rem;
}
.m-comment-box .imgs-box .upload-img {
  width: 2.36rem;
  height: 2.36rem;
  text-align: center;
  border-radius: 0.08rem;
  float: left;
  display: table !important;
}
.m-comment-box .imgs-box .upload-img .text {
  border: 0.026667rem dashed #ccc;
  color: #ccc;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.m-comment-box .imgs-box .upload-img .text .text-tip {
  margin-top: 0.213333rem;
}
.m-comment-box .imgs-box .upload-img .fill-ipt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.m-comment-box .imgs-box .upload-img.preview-img {
  overflow: hidden;
  position: relative;
}
.m-comment-box .imgs-box .upload-img.preview-img img {
  width: 100%;
  height: 100%;
}
.m-comment-box .imgs-box .upload-img.preview-img .del {
  width: 1.066667rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  transform: scale(0.5);
  position: absolute;
  top: -0.133333rem;
  right: -0.133333rem;
}
/*表单组*/
.m-form-group {
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding: 0 0.266667rem;
  display: flex;
  align-items: center;
}
.m-form-group .form-label {
  color: #666;
  margin-right: 0.266667rem;
}
.m-form-group .form-ipt {
  flex: 1;
  height: 100%;
  border: 0;
}
/*商品列表展示*/
.m-shop-show-col2 .shop-list {
  padding-right: 0.266667rem;
}
.m-shop-show-col2 .shop-list li {
  padding-top: 0.266667rem;
  padding-left: 0.266667rem;
}
.m-shop-show-col2 .shop-list li a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.106667rem;
  overflow: hidden;
  padding-bottom: 0.133333rem;
  box-shadow: 0 0.053333rem 0.32rem 0 rgba(0, 0, 0, 0.1);
}
.m-shop-show-col2 .shop-list li img {
  width: 100%;
  height: 5.815467rem;
}
.m-shop-show-col2 .shop-list li .price {
  height: 0.96rem;
  line-height: 0.96rem;
}
.m-shop-show-col2 .shop-list li .price .vip-mark {
  background: #ff4910;
  color: #fff;
  padding: 2px;
}
.m-shop-show-col2 .shop-list li .price .price-val {
  font-size: 14px;
}
.m-shop-show-col2 .shop-list li .price .original-price {
  text-decoration: line-through;
}
.m-shop-show-col2 .shop-list li .price .original-price,
.m-shop-show-col2 .shop-list li .price .discount {
  color: #666;
  margin-left: 0.133333rem;
}
.m-shop-show-col2 .shop-list li .shop-title {
  -webkit-line-clamp: 2;
  line-height: 0.586667rem;
}
.m-shop-show-col2 .shop-list li .price,
.m-shop-show-col2 .shop-list li .shop-title {
  padding: 0.133333rem;
}

.applyRefund-main .form-list .m-form-group {
  background: #fff;
}
.applyRefund-main .form-list .m-form-group.money-group .max-tip {
  font-size: 12px;
  color: #999;
}
.applyRefund-main .form-list .label {
  min-width: 5em;
  color: #666;
}

/* 商品分类 */
.classify-main .classify-tab-cont {
  position: fixed;
  top: 1.333333rem;
  bottom: 1.333333rem;
  left: 0;
  right: 0;
}
.classify-main .classify-tab-cont .tab-cont-item {
  display: none;
  height: 100%;
  margin: 0 auto;
}
.classify-main .classify-tab-cont .tab-cont-item.active {
  display: block;
}
.classify-cont .classify-nav {
  width: 2.666667rem;
  height: 100%;
  float: left;
  background-color: #f3f4f5;
  overflow-y: auto;
}
.classify-cont .classify-nav .nav-list li {
  height: 1.333333rem;
  line-height: 1.333333rem;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}
.classify-cont .classify-nav .nav-list li:last-child {
  border-bottom: 0;
}
.classify-cont .classify-nav .nav-list li.active {
  color: #000;
  background: #fff;
  position: relative;
}
.classify-cont .classify-nav .nav-list li.active::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 0.053333rem;
  background: #de3d96;
}
.classify-cont .classify-page {
  background: #fff;
  margin-left: 2.666667rem;
  height: 100%;
  overflow-y: auto;
}
.classify-cont .classify-page .shop-family li {
  text-align: center;
  padding: 0.133333rem;
  /* 平板 */
}
.classify-cont .classify-page .shop-family li a {
  display: block;
}
.classify-cont .classify-page .shop-family li .shop-img {
  /* 标准模式下 60px*2 */
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
  border-radius: 0.08rem;
}
@media screen and (min-width: 750px) {
  .classify-cont .classify-page .shop-family li .shop-img {
    /* 平板模式下 120px*2 */
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 auto;
  }
}
.classify-cont .classify-page .shop-family li .shop-label {
  height: 0.8rem;
  line-height: 0.8rem;
}

/* 商品展示列表 */
.classifyList-main {
  padding-top: 2.346667rem;
}
.classifyList-main .list-filter-bar {
  position: fixed;
  top: 1.173333rem;
  left: 0;
  right: 0;
  height: 1.173333rem;
  justify-content: center;
  background: #fff;
  transition: top 0.3s;
}
.classifyList-main .list-filter-bar .filter-item {
  display: flex;
  float: left;
  width: 25vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.classifyList-main .list-filter-bar .filter-item .iconfont {
  font-size: 12px;
  margin-left: 0.053333rem;
  color: #ccc;
}
.classifyList-main .list-filter-bar .filter-item.active {
  color: #de3d96;
}
.classifyList-main .list-filter-bar .filter-item.active .iconfont {
  color: #de3d96;
}
.classifyList-main .more-filter {
  display: none;
  top: 1.173333rem;
  z-index: 1;
}
.classifyList-main .more-filter .more-filter-list {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 0.266667rem;
  border-bottom-right-radius: 0.266667rem;
  overflow: hidden;
}
.classifyList-main .more-filter .more-filter-list li.active {
  color: #de3d96;
}

/*收藏夹*/
.collectoion-main .collectoion-amount {
  color: #666;
  margin-top: 0.266667rem;
}

/*评价*/
.comment-main .shop-info {
  display: flex;
  align-items: center;
}
.comment-main .shop-info .left-img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.266667rem;
  border-radius: 0.08rem;
}
.comment-main .shop-info .right-title {
  flex: 1;
  line-height: 0.746667rem;
  font-size: 0.373333rem;
}
.comment-main .star-point .point-item {
  height: 0.933333rem;
  line-height: 0.933333rem;
  font-size: 14px;
}
.comment-main .star-point .point-item .star-box {
  margin-left: 0.266667rem;
}
.comment-main .star-point .point-item .star-box .star-item {
  color: #ccc;
  font-size: 20px;
  text-align: center;
  padding: 0 0.266667rem;
}
.comment-main .star-point .point-item .star-box .star-item.light {
  color: #ff4500;
}
.comment-main .star-point .point-item .grade {
  color: #999;
  font-size: 12px;
}
.comment-main .comment-box .comment-area {
  width: 100%;
  min-height: 3.2rem;
  border: 0;
  margin-bottom: 0.266667rem;
}
.comment-main .comment-box .imgs-box .upload-img {
  width: 2.36rem;
  height: 2.36rem;
  text-align: center;
  border-radius: 0.08rem;
  float: left;
  display: table!important;
}
.comment-main .comment-box .imgs-box .upload-img .text {
  border: 0.026667rem dashed #ccc;
  color: #ccc;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.comment-main .comment-box .imgs-box .upload-img .text .text-tip {
  margin-top: 0.213333rem;
}
.comment-main .comment-box .imgs-box .upload-img .fill-ipt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.comment-main .comment-box .imgs-box .upload-img.preview-img {
  overflow: hidden;
  position: relative;
}
.comment-main .comment-box .imgs-box .upload-img.preview-img img {
  width: 100%;
  height: 100%;
}
.comment-main .comment-box .imgs-box .upload-img.preview-img .del {
  width: 1.066667rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  transform: scale(0.5);
  position: absolute;
  top: -0.133333rem;
  right: -0.133333rem;
}

/*优惠券*/
.coupon-main {
  padding-top: 2.613333rem;
}
.coupon-main .coupon-nav {
  position: fixed;
  top: 1.173333rem;
  height: 1.173333rem;
  line-height: 1.173333rem;
  left: 0;
  width: 100%;
  background: #fff;
}
.coupon-main .coupon-nav .swiper-slide {
  text-align: center;
}
.coupon-main .coupon-nav .swiper-slide.swiper-slide-thumb-active {
  color: #de3d96;
}
.coupon-main .coupon-content {
  position: fixed;
  top: 2.613333rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.coupon-main .coupon-content .swiper-slide {
  min-height: 100%;
  overflow: auto;
}
.coupon-main .coupon-content .coupon-item {
  width: 90%;
  height: 3.2rem;
  border-radius: 0.08rem;
  display: flex;
  justify-content: space-around;
}
.coupon-main .coupon-content .coupon-item > div {
  padding: 15px 5px;
}
.coupon-main .coupon-content .coupon-item .left {
  min-width: 2.4rem;
  max-width: 2.4rem;
  height: 100%;
}
.coupon-main .coupon-content .coupon-item .left img {
  width: 100%;
  height: 100%;
  border-radius: 0.08rem;
}
.coupon-main .coupon-content .coupon-item .center {
  flex: 1;
  border-right: 1px dashed #dfdfdf;
  position: relative;
}
.coupon-main .coupon-content .coupon-item .center::after,
.coupon-main .coupon-content .coupon-item .center::before {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #f3f4f5;
  right: 0;
  margin-right: -0.2rem;
}
.coupon-main .coupon-content .coupon-item .center::after {
  top: 0;
  transform: translateY(-50%);
}
.coupon-main .coupon-content .coupon-item .center::before {
  bottom: 0;
  transform: translateY(50%);
}
.coupon-main .coupon-content .coupon-item .center .used-info {
  padding-top: 10px;
  -webkit-line-clamp: 2;
  font-size: 14px;
  margin-bottom: 10px;
}
.coupon-main .coupon-content .coupon-item .center .used-date {
  color: #ccc;
}
.coupon-main .coupon-content .coupon-item .right {
  min-width: 2.133333rem;
  max-width: 2.133333rem;
  height: 100%;
  color: #f55;
  text-align: center;
}
.coupon-main .coupon-content .coupon-item .right .money {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.coupon-main .coupon-content .coupon-item .right .money .big-money {
  font-size: 22px;
}
.coupon-main .coupon-content .coupon-item.lose {
  color: #ccc;
}
.coupon-main .coupon-content .coupon-item.lose .right {
  color: #ccc;
}

/*客户服务*/
.customerServe-main .regards-box {
  background: #fff;
}
.customerServe-main .regards-box .regards-msg1 {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 20px;
}
.customerServe-main .regards-box .regards-msg1 .big-msg {
  font-size: 0.693333rem;
}
.customerServe-main .regards-box .regards-msg2 {
  font-size: 16px;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #666;
}
.customerServe-main .guess-pro .pro-type-item .pro-type-title {
  height: 1.173333rem;
  line-height: 1.173333rem;
  background: #fff;
}
.customerServe-main .guess-pro .pro-type-item .pro-type-title::before {
  transform: rotate(135deg) translateY(-50%);
  transition: all 0.3s;
}
.customerServe-main .guess-pro .pro-type-item .pro-type-title.open::before {
  transform: rotate(-45deg) translateY(-50%);
}
.customerServe-main .guess-pro .pro-type-item .pro-type-title .pro-type-icon {
  display: inline-block;
  width: 0.586667rem;
  height: 0.586667rem;
  line-height: 0.586667rem;
  border-radius: 50%;
  text-align: center;
}
.customerServe-main .guess-pro .pro-list {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.customerServe-main .guess-pro .pro-list .pro-item {
  height: 1.173333rem;
  line-height: 1.173333rem;
  padding-left: 0.64rem;
}
.customerServe-main .guess-pro .pro-list.open {
  max-height: 999px;
}

/* 首页（使用swiper）*/
.home-main {
  padding-bottom: 1.333333rem;
}
.home-main .gallery-nav {
  height: 1.173333rem;
  background: #fff;
}
.home-main .gallery-nav .swiper-slide {
  text-align: center;
  line-height: 1.173333rem;
}
.home-main .gallery-nav .swiper-slide.swiper-slide-thumb-active {
  color: #de3d96;
}
.home-main .gallery-content {
  width: 100%;
  position: fixed;
  top: 2.346667rem;
  bottom: 1.333333rem;
}
.home-main .gallery-content .swiper-slide {
  min-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.home-main .home-banner1 {
  width: 100%;
  height: 4rem;
}
.home-main .home-banner1 img {
  width: 100%;
  height: 100%;
}
.home-main .hot-type li {
  float: left;
  width: 20%;
  text-align: center;
  color: #666;
  margin-bottom: 0.266667rem;
}
.home-main .hot-type li img {
  width: 1.466667rem;
  height: 1.466667rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #f9f9f9;
  margin-bottom: 0.133333rem;
}
.home-main .activity .activity-img {
  display: block;
  width: 100%;
}
.home-main .activity .activity-title,
.home-main .activity .actitvity-vice {
  margin: 0.266667rem 0 0 0.4rem;
  line-height: 0.533333rem;
}
.home-main .activity .activity-title {
  color: #000;
  font-size: 14px;
}
.home-main .activity .actitvity-vice .dis {
  color: #ff4910;
}

.dot-spin {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #de3d96, 12.72984px -12.72984px 0 0 #de3d96, 18px 0 0 0 #de3d96, 12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
  animation: dotSpin 1.5s infinite linear;
}
@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #de3d96, 12.72984px -12.72984px 0 0 #de3d96, 18px 0 0 0 #de3d96, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 #de3d96, 18px 0 0 0 #de3d96, 12.72984px 12.72984px 0 0 #de3d96, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #de3d96, 12.72984px 12.72984px 0 0 #de3d96, 0 18px 0 0 #de3d96, -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #de3d96, 0 18px 0 0 #de3d96, -12.72984px 12.72984px 0 0 #de3d96, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #de3d96, -12.72984px 12.72984px 0 0 #de3d96, -18px 0 0 0 #de3d96, -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #de3d96, -18px 0 0 0 #de3d96, -12.72984px -12.72984px 0 0 #de3d96;
  }
  75% {
    box-shadow: 0 -18px 0 0 #de3d96, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #de3d96, -12.72984px -12.72984px 0 0 #de3d96;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #de3d96, 12.72984px -12.72984px 0 0 #de3d96, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #de3d96;
  }
}

.m-user-box .m-form-group {
  width: 90%;
  margin: 0.266667rem auto;
  border-bottom: 1px solid #fefefe;
  position: relative;
}
.m-user-box .m-form-group .form-label {
  min-width: 4em;
}
.m-user-box .m-form-group .label-icon {
  margin-right: 0.266667rem;
}
.m-user-box .m-form-group .label-icon,
.m-user-box .m-form-group .form-label,
.m-user-box .m-form-group .psword-show {
  font-size: 14px;
  color: #fff;
}
.m-user-box .m-form-group .psword-show {
  text-align: center;
  padding: 0 0.266667rem;
}
.m-user-box .m-form-group .form-ipt {
  color: #fff;
  font-size: 14px;
  background: transparent;
  -webkit-appearance: none;
}
.m-user-box .m-form-group .form-ipt::placeholder {
  color: #fefefe;
}
.m-user-box .m-form-group .check-code-box,
.m-user-box .m-form-group .message-box {
  min-width: 1.6rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.08rem;
  position: absolute;
  right: 0.266667rem;
}
.m-user-box .m-form-group .check-code-box {
  background: #fefefe;
}
.m-user-box .m-form-group .message-box {
  min-width: 2.133333rem;
  background: #de3d96;
  color: #fff;
}
.m-user-box .m-form-group .message-box.disable {
  background: transparent;
}
.m-user-box .msg-feedback {
  opacity: 0;
}
.m-user-box .user-submit {
  display: block;
  width: 80%;
  height: 1.333333rem;
  border-radius: 1.333333rem;
  margin: 0.533333rem auto;
  transition: all 0.1s;
}
.m-user-box .user-submit.ring {
  width: 1.866667rem;
  height: 1.866667rem;
  border-radius: 50%;
  position: relative;
}
.login-main .login-box {
  transform: translateY(1.333333rem);
}
.login-main .login-box .m-form-group {
  border: 1px solid #fefefe;
  border-radius: 0.266667rem;
  margin: 0.533333rem auto;
}
.login-main .login-box .other-work {
  width: 90%;
  margin: 0.266667rem auto;
}
.login-main .login-box .go-register {
  color: #fefefe;
}
.login-main .login-box .forget-psword {
  color: #F56C6C;
}
.login-main .login-box .login-submit {
  margin-top: 1.333333rem;
}
.register-main .register-box .sex-choose {
  margin-right: 0.266667rem;
}
.changePsword-main .m-form-group {
  margin: 0.533333rem auto;
}
.changePsword-main .change-finished {
  margin-top: 0.666667rem;
}

/* 物流信息 */
.logistics-main .logistics-base p {
  line-height: 0.72rem;
}
.logistics-main .logistics-base .company {
  color: #de3d96;
}
.logistics-main .logistics-base .tel {
  color: #0057c1;
}
.logistics-main .status-title {
  height: 30px;
  line-height: 30px;
}
.logistics-main .status-list li {
  border-bottom: 1px solid #ccc;
  padding: 0.266667rem 0;
  margin-left: 1.333333rem;
  position: relative;
}
.logistics-main .status-list li .content {
  font-size: 14px;
  line-height: 0.533333rem;
  margin-bottom: 0.266667rem;
}
.logistics-main .status-list li::before {
  content: '';
  position: absolute;
  width: 0.026667rem;
  height: 100%;
  background: #ccc;
  left: -0.8rem;
  top: 0.8rem;
}
.logistics-main .status-list li::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ececec;
  left: -0.8rem;
  top: 0.693333rem;
  transform: translateX(-50%);
}
.logistics-main .status-list li:first-child {
  color: #de3d96;
}
.logistics-main .status-list li:first-child::after {
  background: #de3d96;
}
.logistics-main .status-list li:last-child::before {
  height: 0;
}

/*订单详情*/
.orderDetails-main {
  padding-bottom: 1.333333rem;
}
.orderDetails-main .m-header {
  background: #de3d96;
  color: #fff;
  z-index: 1;
}
.orderDetails-main .m-header a {
  color: #fff;
}
.orderDetails-main .m-header::after {
  background: transparent;
}
.orderDetails-main .order-state {
  background-color: #de3d96;
  color: #fff;
}
.orderDetails-main .m-receipt-info {
  background: #fff;
  color: inherit!important;
}
.orderDetails-main .price-statistics .statistics-result {
  font-size: 14px;
}
.orderDetails-main .order-info li {
  margin-bottom: 0.266667rem;
}
.orderDetails-main .copyNumBtn {
  margin-left: 0.266667rem;
}

/* 个人中心*/
.person-main {
  padding-top: 0;
  padding-bottom: 1.333333rem;
}
.person-main .user-info {
  background: #fff;
  display: flex;
}
.person-main .user-info .user-portrait {
  min-width: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  background: #eee;
  border-radius: 50%;
  padding: 0.266667rem;
  margin-right: 0.266667rem;
}
.person-main .user-info .right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-main .user-info .right .user-name {
  font-size: 14px;
}
.person-main .user-info .right .switch-account {
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0 0.4rem;
}
.person-main .user-info .right .switch-account .iconfont {
  font-size: 12px;
}
.person-main .shop-info {
  background: #fff;
}
.person-main .shop-info .tool-icon {
  display: inline-block;
  width: 0.853333rem;
  height: 0.853333rem;
  line-height: 0.853333rem;
  background: #de3d96;
  border-radius: 50%;
  color: #fff;
}
.person-main .vip-about .tool-icon {
  color: #de3d96;
}

/*收货地址*/
.receiveAddress-main {
  padding-bottom: 1.333333rem;
  /*地址选择器*/
}
.receiveAddress-main .address-item p.info {
  margin-bottom: 0.266667rem;
  line-height: 0.426667rem;
  -webkit-line-clamp: 2;
}
.receiveAddress-main .set-work {
  display: inline-block;
  padding: 0.133333rem 0.266667rem;
  cursor: pointer;
}
.receiveAddress-main .set-work.del {
  color: #f73333;
}
.receiveAddress-main .set-work.copy {
  color: #3ca4fd;
}
.receiveAddress-main .set-work.edit {
  color: #666;
}
.receiveAddress-main .edit-address {
  display: none;
  transition: all 0.5s;
  z-index: 1;
}
.receiveAddress-main .edit-address .edit-box {
  padding-top: 0;
  position: absolute;
  top: 2.666667rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 0.16rem;
}
.receiveAddress-main .edit-address .edit-box .edit-info {
  height: 1.333333rem;
  line-height: 1.333333rem;
  border-bottom: 1px solid #ccc;
}
.receiveAddress-main .edit-address .edit-box .edit-info.edit-title {
  text-align: center;
  font-size: 14px;
}
.receiveAddress-main .edit-address .edit-box .edit-info.info-base {
  display: flex;
}
.receiveAddress-main .edit-address .edit-box .edit-info.info-base .base-item {
  flex: 1;
  border-right: 1px solid #ccc;
  position: relative;
  padding-left: 0.133333rem;
}
.receiveAddress-main .edit-address .edit-box .edit-info.info-base .base-item label {
  position: absolute;
  color: #666;
}
.receiveAddress-main .edit-address .edit-box .edit-info.info-base .base-item input {
  width: 100%;
  border: 0;
  padding-left: 1.066667rem;
}
.receiveAddress-main .edit-address .edit-box .edit-info.info-base .base-item:last-child {
  border-right: 0;
}
.receiveAddress-main .edit-address .edit-box .info-details-address {
  width: 100%;
  border: 0;
  height: 100px;
  border-bottom: 1px solid #ccc;
  color: #383838;
}
.receiveAddress-main .edit-address .edit-box .edit-save {
  width: 80%;
  display: block;
  margin: 0.266667rem auto;
}
.receiveAddress-main .edit-address .edit-box .edit-close {
  position: absolute;
  bottom: -2.133333rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  color: #ccc;
  padding: 0.4rem;
  border-radius: 50%;
}
.receiveAddress-main .addreee-choose {
  display: none;
  z-index: 2;
}
.receiveAddress-main .addreee-choose .address-choose-box {
  position: absolute;
  bottom: -13rem;
  left: 0;
  right: 0;
  background: #fff;
  height: 12rem;
  transition: all 0.5s;
}
.receiveAddress-main .addreee-choose .address-choose-box.moveUp {
  bottom: 0;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top {
  height: 1.333333rem;
  line-height: 1.333333rem;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 0;
  width: 100%;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .left {
  width: 6.4rem;
  white-space: nowrap;
  overflow: auto;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .left .address-set {
  padding-left: 0.266667rem;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .left .address-set .set-item {
  margin-right: 0.266667rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .left .address-set .set-item.active {
  color: #de3d96;
  position: relative;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .left .address-set .set-item.active::after {
  content: '';
  width: 100%;
  height: 0.053333rem;
  background: #de3d96;
  position: absolute;
  bottom: 0;
  left: 0;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .right {
  position: absolute;
  right: 0;
  top: 0;
  background: #ff4500;
  width: 100px;
  text-align: right;
  background: #fff;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .right .right-item {
  display: inline-block;
  margin-right: 0.266667rem;
  text-align: center;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .right .right-item.save {
  color: #de3d96;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-choose-top .right .right-item.close {
  color: #666;
}
.receiveAddress-main .addreee-choose .address-choose-box .tip-title {
  position: absolute;
  top: 1.333333rem;
  left: 0;
  width: 100%;
  height: 1.333333rem;
  line-height: 1.333333rem;
  border-bottom: 1px border #dfdfdf;
  padding: 0 0.266667rem;
  color: #666;
  z-index: 1;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content {
  padding-top: 2.666667rem;
  height: 100%;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content .address-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content .address-list.active {
  display: block;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content .address-list .list-item {
  height: 1.333333rem;
  line-height: 1.333333rem;
  border-top: 1px solid #ccc;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content .address-list .list-item::after {
  right: 0.533333rem;
}
.receiveAddress-main .addreee-choose .address-choose-box .address-content .address-list .list-item.active {
  color: #de3d96;
}
.receiveAddress-main .add-receive {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.333333rem;
  display: flex;
  align-items: center;
}

/*退款详情*/
.refundDetails-main .refund-state {
  background: #fff;
}
.refundDetails-main .consult-details {
  height: 1.173333rem;
  line-height: 1.173333rem;
}
.refundDetails-main .refund_info li {
  display: flex;
}
.refundDetails-main .refund_info li .li-label {
  min-width: 1.706667rem;
}
.refundDetails-main .refund_info li .li-info {
  flex: 1;
}
.refundDetails-main .refund_info li .shop-name {
  -webkit-line-clamp: 2;
}

.search-main {
  background: #fff;
}
.search-main .search-btn {
  max-width: 1.6rem;
  height: 0.906667rem;
  line-height: 0.906667rem;
}
.search-main .search-log {
  margin-top: 15px;
  display: none;
}
.search-main .search-log .clear-log {
  padding: 0.133333rem 0.266667rem;
}
.search-main .search-result .no-search-box {
  display: none;
  text-align: center;
  color: #999;
}
.search-main .search-result .no-search-box .no-search-icon {
  display: block;
  font-size: 100px;
  font-weight: bold;
  color: #ccc;
}
.search-main .search-result .no-search-box .no-search-tip {
  font-size: 14px;
  margin-top: 0.4rem;
}
.search-main .search-result .no-search-box .no-search-tip .search-text {
  color: #de3d96;
}

/* 购物车*/
.shopCar-main {
  height: 100%;
  padding-bottom: 2.666666rem;
}
.shopCar-main .m-header {
  background: #fff;
}
.shopCar-main .car-list {
  height: 100%;
  overflow: auto;
}
.shopCar-main .settlement-bottom {
  bottom: 1.333333rem;
}
.shopCar-main .settlement-bottom .total-money {
  margin-right: 0.133333rem;
}
.shopCar-main .settlement-bottom.edit .bottom-right {
  display: none;
}
.shopCar-main .settlement-bottom.edit .bottom-remove {
  display: block;
}

/*商品展示界面*/
.shopDetails-main {
  padding-top: 1.173333rem;
  padding-bottom: 1.6rem;
}
.shopDetails-main .m-header {
  z-index: 2;
}
.shopDetails-main .nav-top {
  height: 1.173333rem;
  line-height: 1.173333rem;
  display: flex;
  justify-content: center;
}
.shopDetails-main .nav-top a {
  margin: 0 0.4rem;
  padding: 0 0.266667rem;
  font-size: 14px;
  cursor: pointer;
}
.shopDetails-main .nav-top a.active {
  color: #de3d96;
}
.shopDetails-main .commodity .shop-show-banner {
  height: 9.333333rem;
}
.shopDetails-main .commodity .shop-show-banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
.shopDetails-main .commodity .shop-outline-info .money-color {
  color: #ff4910;
}
.shopDetails-main .commodity .shop-outline-info .shop-title {
  font-size: 14px;
  color: #000;
  -webkit-line-clamp: 2;
}
.shopDetails-main .commodity .shop-parame .parame-item {
  padding: 0.266667rem 0;
  border-bottom: 1px dashed #ccc;
}
.shopDetails-main .commodity .shop-parame .parame-item:last-child {
  border-bottom: 0;
}
.shopDetails-main .commodity .shop-delivery .address {
  margin-left: 0.4rem;
  line-height: 0.8rem;
}
.shopDetails-main .comment .comment-one .comment-conent {
  -webkit-line-clamp: 3;
}
.shopDetails-main .detail .detail-title {
  padding-left: 0.266667rem;
}
.shopDetails-main .detail .detail-cont img {
  display: block;
  width: 100%;
}
.shopDetails-main .show-footer {
  height: 1.6rem;
  background: #fff;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.shopDetails-main .show-footer .kefu-entry,
.shopDetails-main .show-footer .car-entry,
.shopDetails-main .show-footer .buy-group {
  height: 1.066667rem;
  min-width: 1.6rem;
  line-height: 1.066667rem;
  text-align: center;
  padding: 0 0.266667rem;
  border-radius: 0.08rem;
  margin-right: 0.266667rem;
  overflow: hidden;
}
.shopDetails-main .show-footer .kefu-entry,
.shopDetails-main .show-footer .car-entry {
  padding-top: 0.133333rem;
  line-height: normal;
}
.shopDetails-main .show-footer .buy-group {
  width: 100%;
  padding: 0;
  border: 0;
  display: flex;
}
.shopDetails-main .show-footer .buy-group .buy-item {
  flex: 1;
  text-align: center;
  color: #fff;
}
.shopDetails-main .show-footer .buy-group .buy-item a {
  color: #fff;
}
.shopDetails-main .show-footer .buy-group .buy-item.add-car {
  background: #de3d96;
}
.shopDetails-main .show-footer .buy-group .buy-item.go-buy {
  background: #ff7e00;
}

/*订单*/
.sureOrder-main {
  height: 100%;
  padding-bottom: 1.333333rem;
}
.sureOrder-main .m-receipt-info {
  display: block;
}
.sureOrder-main .order-info {
  border-bottom: 1px dashed #dfdfdf;
}
.sureOrder-main .order-info .order-show {
  position: relative;
}
.sureOrder-main .order-info .order-show .money-vice {
  color: #666;
}
.sureOrder-main .order-info .order-show .detail-entry {
  position: absolute;
  right: 0.16rem;
  top: 50%;
  transform: translateY(-50%);
}
.sureOrder-main .order-info .order-show .detail-entry .entry-icon {
  font-size: 12px;
}
.sureOrder-main .order-info .order-detail {
  padding-top: 0.266667rem;
}
.sureOrder-main .pay-way {
  background: #fff;
}
.sureOrder-main .pay-way .pay-need .money-color {
  color: #ff4910;
  font-weight: bold;
}
.sureOrder-main .pay-way .choose-pay {
  height: 1.133333rem;
  line-height: 1.133333rem;
}
.sureOrder-main .pay-way .choose-pay input[type="radio"] {
  margin-right: 0.266667rem;
}
.sureOrder-main .pay-way .choose-pay label {
  display: block;
  width: 100%;
}
.sureOrder-main .settlement-bottom {
  height: 1.333333rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
}
.sureOrder-main .settlement-bottom .order-submit {
  width: 70%;
  margin: 0 auto;
}
